.coins-details-container {
	width: 90%;
	margin: 0 auto;
}

.chat-option {
	text-align: center;
}

.coin-title {
	float: left;
}

.coin-range {
	float: right;
}

.coins-details-header {
	padding:20px 0;
	display: inline-block;
    width: 100%;
}
.coins-details {
	clear: both;
}

.min-range, .max-range {
    float: left;
}

.btn-default{
	float: left;
}